html, body{
    background-image: url('../content/texture8.png');
    background-size: 105% 105%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90% 0%;
}

/* SCROLL */
* {
    font-family:cursive;
    scrollbar-width: thin;
    scrollbar-color: rgba(136, 136, 136, 0.4) transparent;
}
*::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar (hazlo más delgado si quieres, ej: 6px) */
    height: 8px; /* Alto para scrollbars horizontales */
}
*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.4); /* Color gris suave con transparencia */
    border-radius: 10px;
    /* Este truco del borde crea un efecto de "padding" para que la barra no toque los bordes */
    border: 2px solid transparent; 
    background-clip: content-box; 
}

/* Efecto al pasar el mouse por encima de la barra */
*::-webkit-scrollbar-thumb:hover {
    background: rgba(136, 136, 136, 0.7); /* Se oscurece un poco al hacer hover */
    background-clip: content-box;
}


#scont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.caudio{
    width: 100%;
    margin: -55px 20px 15px;
    display: none;
}

/*login*/
.gen-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-image: url(../content/texture4.png);
    background-position: center;
    background-size: 100% 100%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
}

#input{
    background-color: rgba(208, 208, 208, 0.8);
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
}

#ver{
    background-color: rgba(208, 208, 208, 0.8);
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
    transition: all 0.2s;
}

#ver:hover{
    background-color: rgba(253, 213, 127, 0.8);
}

#alert{
    color: rgb(120, 255, 120);
    margin: 0;
    padding: 5px;
    width: 90%;
    height: 15px;
    text-align: left;
    align-items: start;
    font-size: 12px;
}

#submit{
    background-color: rgba(208, 208, 208, 0.8);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 50px;
    transition: all 0.2s;
}

#submit:hover{
    background-color: rgba(252, 210, 120, 0.8);
}

/*main*/
/*header*/
header{
    background-image: url(../content/texture1.png);
    background-size: 110%;
    background-position: bottom;
    background-repeat: no-repeat;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 1;
    overflow: visible;
}



header div{
    position: relative;
    display: flex;
    width: 90%;
    margin: 0;
    gap: 5%;
    align-items: center;
    justify-content: center;

    z-index: 1;
    overflow: visible;
}

header div a{
    background-image: url(../content/texture2.png);
    background-size: 100% 100%;
    padding: 5px;
    border-radius: 5px;
    scale: 1.1;
    outline-color: black;
    transition: all 0.2s ease;
    overflow: visible;
    cursor: default;
    color: inherit;
    text-decoration: none;
}

header div a:hover{
    scale: 1.2;
}

/*content*/
main{
    display: auto;
    padding: 0;
    margin: 20px 20px;
    display: flex;
}

#content_container{
    background-image: url(../content/texture4.png);
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 0;
}

.content{
    background-image: url(../content/texture5.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    transition: all 0.2s;
    cursor: default;
    color: inherit;
    text-decoration: none;
    text-align: unset;
}

.content:hover{
    transform: scale(1.01);
}

#addelemnt{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#txttitulo{
    position: relative;
    display: flex;
    width: 90%;
    margin: 5px;
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(222, 222, 222, 0.75), rgba(128, 128, 128, 0.75));

}

#txttext{
    position: relative;
    display: flex;
    width: 90%;
    margin: 5px;
    padding: 5px;
    height: 90px;
    font-size: 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(222, 222, 222, 0.75), rgba(128, 128, 125, 0.75));
}

#submitbtn{
    position: relative;
    display: flex;
    width: 90%;
    margin: 5px;
    padding: 5px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(152, 255, 157, 0.75), rgba(55, 255, 65, 0.75));
}

details > summary{
    list-style: none;
}

details[open]{
    background-image: url(../content/texture4.png);
}

.noti{
    position: relative;
    overflow: visible;
    display: inline-block;
    background-color: red;
    font-size: 16px;
    outline-style: solid;
    border-radius: 5px;
    padding: 5px;
}
